<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Adopcion</title>
</head>

<body>  

<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <br>

    <h1>W3hubs</h1>
  
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button>Inicio</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="./auth/galeria"  routerLinkActive="active">Galería</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="./auth/contacto"  routerLinkActive="active">Contacto</a></mat-list-item>
    
    </mat-list>

  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="nav">
      <mat-list role="list">
        
        <mat-list-item role="listitem" ><a mat-button>Inicio</a></mat-list-item>
        <mat-list-item role="listitem" ><a mat-button routerLink="./auth/galeria"  routerLinkActive="active">Galería</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button routerLink="./auth/contacto"  routerLinkActive="active">Contacto</a></mat-list-item>   
     
      </mat-list>
    </mat-toolbar>
   

    <div class="silder">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>

      <div class="silder-content">
        <h1>Adopción.cr
        </h1>
        
        <img src="/../assets/images/3pets.png" alt="">
      </div>
    </div>


    <br>
    <br>

    <!--formulario-->
  <h1>Formulario de Inscripción</h1>

    <div class="contents">     
      <div class="row" layout-align="space-around center">

            <img class="img-responsive" src="/../assets/images/golden.png" alt="golden retriever" width="10%" height="10%">

            <div class="contenedor-formulario">
              <div class="wrap">
                <form action="" class="formulario" name="formulario_registro" method="get">
                  <div>
                    <div class="input-group">
                      <input type="text" id="nombre" name="nombre">
                      <label class="label" for="nombre">Nombre:</label>
                    </div>
                    <div class="input-group">
                      <input type="email" id="correo" name="correo">
                      <label class="label" for="correo">Correo:</label>
                    </div>
                    <div class="input-group">
                      <input type="password" id="pass" name="pass">
                      <label class="label" for="pass">Telefono:</label>
                    </div>
                    <div class="input-group radio">
                      <input type="radio" name="sexo" id="hombre" value="Hombre">
                      <label for="hombre">Hombre</label>
                      <input type="radio" name="sexo" id="mujer" value="Mujer">
                      <label for="mujer">Mujer</label>
                    </div>
                    <div class="input-group checkbox">
                      <input type="checkbox" name="terminos" id="terminos" value="true">
                      <label for="terminos">Acepto los Terminos y Condiciones</label>
                    </div>
                      
                    <input type="submit" id="btn-submit" value="Enviar">
                  </div>
                </form>
              </div>

          </div>

    </div>
 </div>


      <!--servicios-->  
      <h1>Servicios</h1>    
    <div class="features">
      <div class="row">
        
        <div class="column">
          

          <mat-icon>pets</mat-icon>
          <h3>Visión</h3>
          <p>animales de compañía acogidos en nuestra casa, encuentren un buen hogar y tengan una segunda oportunidad de vida.
          </p>
        </div>


        <div class="column">
          <mat-icon>card_giftcard</mat-icon>
          <h3>Misión</h3>
          <p>Queremos contribuir a reducir la sobre población de animales de compañía abandonados y maltratados por medio de adopción, castración, educación y voluntariado.
          </p>
        </div>

        
        <div class="column">
          <mat-icon> location_on</mat-icon>
          <h3>Sucursales</h3>
          <p>Contamos con 8 sucursales en el país.
          </p>
        </div>
      </div>

    </div>
    <br>
    

    <!--galeria de imagenes-->
    <h1>Catalogo</h1>


    <div class="features">
      <div class="row">

        <div class="column">    
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mascotas</mat-card-title>
          <mat-card-subtitle>Hamster, conejos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/hamster.jpg" alt="Photo of a hamster">
        <mat-card-content>
      
        </mat-card-content>
        <input type="submit" id="btn-submit" value="Acceder">
      </mat-card>
     </div>
     
     <div class="column">    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Perros</mat-card-title>
    <mat-card-subtitle>Perros en adopción</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./assets/images/dogs.jpg" alt="Photo of a dog">
  <mat-card-content>
    
  </mat-card-content>
  <input type="submit" id="btn-submit" value="Acceder">
</mat-card>
</div> 

<div class="column">    
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Gatos</mat-card-title>
      <mat-card-subtitle>Gatos en adopción</mat-card-subtitle></mat-card-header>
      <img mat-card-image src="./assets/images/cats.jpg" alt="Photo of a cat">
      <mat-card-content>
       
      </mat-card-content>
      <input type="submit" id="btn-submit" value="Acceder">
    </mat-card>
  </div> 

  </div>
</div>


    <br>
    <br>

    <!--Boletin de noticias-->
    <div class="contactus">
      <h2>Subscribete a nuestro boletín</h2>


      <form>
        <mat-form-field appearance="fill">
          <mat-label>Subscribirse</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-flat-button>Subscriberse</button>
      </form>

      <!--Footer-->
    </div>
    <footer class="home-footer">
      <section class="home-footer-top">
        <div class="container">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
            <div fxFlex="40" class="footer-box">
              <h4 class="footer-box-title"><b>Sobre Nosotros</b></h4>
              <p>Creemos que juntos podemos ayudar a miles de mascotas que diariamente son rescatadas de las calles de nuestro país a encontrar un hogar donde puedan ser amados y cuidados como se merecen.
               </p>
              <button mat-raised-button color="accent">Contáctenos</button>
            </div>
            <div fxFlex="60" class="footer-box">
              <h4 class="footer-box-title"><b>Contacto</b></h4>

              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon color="accent">email</mat-icon>
                  <h5 matLine><b>Email</b></h5>
                  <p matLine> email@abc.com </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon color="accent">phone_on</mat-icon>
                    <h5 matLine><b>Telefono</b></h5>
                  <p matLine>(+506)2215 1545</p>
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                    <h5 matLine><b>Dirección</b></h5>
                    <p matLine>San José, Santa Ana</p>
                    <p matLine>300m este del Freshmarket</p>
                  </mat-list-item>
              </mat-list>
            </div>
            
          </div>
        </div>
      </section>
    </footer>

  </mat-drawer-content>
</mat-drawer-container>



</body>
</html>
<router-outlet></router-outlet>
